[submodule "Code/third_party/benchmark"]
	path = Code/third_party/benchmark
	url = https://hub.yzuu.cf/google/benchmark.git
	branch = main
[submodule "Code/third_party/googletest"]
	path = Code/third_party/googletest
	url = https://hub.yzuu.cf/google/googletest.git
	branch = main
