# Editors.
*.sw*
.vscode
.DS_Store
.idea
.cache
# Build directory.
build/
cmake-build-debug/
cmake-build-release/
release/
debug/
out/
pic/
/cmake-build-debug/include/
myignorefile
/sequence.txt
/*.csv
# some useless things 
demo*

